.head{
    background-color:  #041f4a;
}
.bg-color-0{
    background-color:  #041f4a;
}
.bg-color-1{
    background-color: #052962;
}
.pad-right{
    padding-right: 3em !important;
    padding: 0;
    margin: 0;
    justify-content: flex-end !important; 
}
.nav-link{
    color: white !important;
    font-weight: bold;    
}
.nav-link:hover{
  text-decoration: underline;
}
.nav-link-print{
  color: rgb(255, 229, 0) !important;
  font-weight: bold;
}
.border-start {
    border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
    border-left-width: ;
    border-left-style: ;
    border-left-color:gray !important;
}
.navbar-expand-md .navbar-collapse {
    flex-basis: auto !important;
}
.navig_bottom a {
  display: block;
  float: left;
  text-align: center;
  border-bottom: 5px solid white;
  color: white;
  padding: 14px;
  text-decoration: none;
  font-family: "Guardian Text Egyptian Web", Georgia, serif;
  font-size: 17pt;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.navig_bottom a.opinion:hover {
 
  border-bottom: 5px solid rgb(255, 251, 0);
  font-size: 18pt;
}
.navig_bottom a.sport:hover {
  border-top: none;
  border-bottom: 5px solid rgb(30, 255, 0);
  font-size: 18pt;
}
.navig_bottom a.culture:hover {
  border-top: none;
  border-bottom: 5px solid rgb(0, 123, 255);
  font-size: 18pt;
}
.navig_bottom a.lifestyle:hover {
  border-top: none;
  border-bottom: 5px solid rgb(195, 0, 255);
  font-size: 18pt;
}
.navig_bottom a.active {
  border-bottom: 5px solid red;
  font-size: 18pt;
}
.navbar {    
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .heading-0{
    color: rgb(255, 229, 0);
    font-weight: bold;
    font-size: 24px;
    text-size-adjust: 100%;
    font-family: "GH Guardian Headline", "Guardian Egyptian Web", Georgia, serif;
  }
  .heading-3{
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-size-adjust: 100%;
    font-size: 17px;
    font-family: GuardianTextSans, "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
  .button1 {
    background-color:  rgb(255, 229, 0)!important;
    border-radius: 10px !important;
    border: none;
    font-size: 15px !important;
    justify-content: space-between;
    text-size-adjust: 100%;
    font-weight: bold;
    margin-bottom: 1%;
    cursor: pointer !important;
  }
  .search{
    color: black;
    display: block;
    font-size: 12pt;
    background-color: white;
    width: 70%;
    border-radius: 10px;
  }
  .logo_size{
   width: 295px; 
   height: 95px;
   float:right;
  }
  @media only screen and (max-width: 770px) {
    .logo_size{
      width: 175px; 
      height: 56px;
     }
  }
  .navbar-2{
    padding-right: 0;
    display: block;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  @media only screen and (max-width: 770px) {
    .support-us {
      margin-top: 5%;
      margin-bottom: 5%;
    }
  }
  .sign-in-section{
    float: left;
    padding-right: 10px;
   }
  .icon-container{
  cursor: pointer;
    background-color: rgb(255, 229, 0);
    border-radius: 50%;
    width: 18px;
    height: 18px;
  }
  .document-logo{
  width: 18px;
  height: 18px;
  padding-bottom: 5px;
  }
  .sign-in-logo{
  width: 28px;
  height: 28px;
  padding-bottom: 5px;
  }
  .navbar-2-item{
    padding-right: 25px;
    font-family:"Guardian Text Egyptian Web",Georgia,serif;
    float: left;
    line-height: 24px;
    display: block;
    font-size: larger;
    margin-right: 5em;
  }
  @media only screen and (max-width: 770px) {
    .navbar-2-item {
      margin-right: 0;
    }
  }
  @media only screen and (min-width: 995px) {
    .navbar-2-item {
      margin-right: 5em;
    }
  }
  @media only screen and (min-width: 771px) {
    @media only screen and (max-width: 992px) {
      .navbar-2-item {
        margin-right: 1em;
      }
    }
  }
  .back_to_top_icon:hover{
    background: rgba(255, 221, 0, 0.75);
  }
  .back_to_top {
    display: flex;
    text-decoration: none;
    padding: 0.75rem 0.3125rem 0 0;
    font-size: large;
  }
  .back_to_top_icon{
    background: rgb(255, 0, 0);
    border-radius: 50%;
    height: 30px;
    font-weight: 30px;     
  }
  .footer_back_to_top_bottom {
    text-decoration: none;
    font-size: 16pt;
    line-height: 1.3 rem !important;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: rgb(255, 0, 0);
    font-weight: 700;
    right: 130px !important;
    right: 0.625rem;
    text-align: right;
    background-color: #052962;
    padding: 0 0.3125rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    
  }
  ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .links{
    color:white;
    text-decoration: none;
  }
  .paragraph{
    color: white;
    font-size: 10pt;
  }
  a.news:hover{
    border-top: red !important;
    border-top: 1px !important;
  }
  .navbar-container{
    overflow: hidden;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
  }
  .news{
    border-top: 4px solid red;
  }
  .opinion:hover{
    border-top: 4px solid blue;
  }
  .sport:hover{
    border-top: 4px solid green;
  }
  .culture:hover{
    border-top: 4px solid orange;
  }
  .lifestyle:hover{
    border-top: 4px solid plum;
  }
  .top-border{
    border-top: 4px solid white;
  }
  .img1{
    width: 250px;
    height: 150px;
  }
  .img2{
    width: 220px;
    height: 132px;
  }
  .hide-button{
    border: none;
    text-align: left;
    background: none;
    text-decoration: none;
    position: absolute;
    right: 1em;
    margin-left: 1em;
  }
  .hide-button:hover{
    color: red;
    text-decoration: underline;
  }
  .article-row{
    margin-top: 10px;
    margin-left: 270px;
    display: flex;
  }
  .article-row-main{
    margin-top: -75px;
    margin-left: 270px;
    display: flex;
  }
  @media (max-width: 1220px) {
    .row {     
      margin-top: 0.5em !important;
      margin-left: 0px !important;
      }
  }
  @media (min-width: 768px) {
    @media (max-width: 993px) {
      .row {     
        margin-right: -3.7em;
        }
    }
  }
  .bg-headline{
    background-color: rgb(190, 0, 0);
    
  }
  .bg-headline:hover{
    background-color: rgb(96, 0, 0);
  }
  .spinner-grow {
    width: 1rem !important;
    height: 1rem !important;
  }
  .article-headline{
    text-decoration: none;
  }