
     .user_logo {
        width: 30px;
        height: 30px;
      }
      .dropdown_img {
        width: 50px;
        height: 30px;
        border-radius: 50%;
      }
      .sign_in {
        align-content: center !important;
        background-color: rgb(16, 25, 95) !important;
        color: aliceblue !important;
        padding-bottom: 5px;
        font-family: Arial, Helvetica, sans-serif !important;
        font-style: bold;
        padding-left: 40px;
      }
      .after_sign_in {
        background-color: rgb(9, 22, 119) !important;
        padding-top: 1px;
        padding-bottom: 2%;
        padding-left: 40px;
      }
      h1.main {
        font-family: "Guardian Text Egyptian Web", Georgia, serif;
        float: right;
        color: white;
        padding-right: 10%;
        font-size: 26pt;
      }
      p {
        font-style: normal;
        font-family: Arial, Helvetica, sans-serif;
      }
      .button1 {
        background-color: yellow !important;
        border-radius: 10px !important;
        border: none;
        font-size: medium !important;
        margin-bottom: 1%;
        cursor: pointer !important;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: 0;
      }
      .nav {
        overflow: hidden;
      }
      .nav a {
        display: block;
        float: left;
        text-align: center;
        border-top: 5px solid white;
        color: white;
        padding: 14px;
        text-decoration: none;
        font-family: "Guardian Text Egyptian Web", Georgia, serif;
        font-size: 17pt;
        border-left: 1px solid white;
        border-right: 1px solid white;
      }
      .nav a.opinion:hover {
        border-top: 5px solid rgb(255, 251, 0);
        font-size: 18pt;
      }
      .nav a.sport:hover {
        border-top: 5px solid rgb(30, 255, 0);
        font-size: 18pt;
      }
      .nav a.culture:hover {
        border-top: 5px solid rgb(0, 123, 255);
        font-size: 18pt;
      }
      .nav a.lifestyle:hover {
        border-top: 5px solid rgb(195, 0, 255);
        font-size: 18pt;
      }
      .nav a.active {
        border-top: 5px solid red;
        font-size: 18pt;
      }
      li .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 12px 14px;
        text-decoration: none;
      }
      li.dropdown {
        float: right;
        display: inline-block;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgb(9, 22, 119);
        min-width: 160px ;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
      .dropdown-content a {
        color: rgb(255, 255, 255);
        padding: 12px 14px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      .dropdown-content a:hover {
        background-color: #f1f1f1;
        color: black;
        font-size: 15pt;
        font-style: bold;
      }
      .dropdown:hover .dropdown-content {
        position: relative;
        display: block;
      }
      .img1{
        width: 250px;
        height: 150px;
      }
      .img2{
        width: 450px;
        height: 300px;
      }
      .bg-dark {
        --bs-bg-opacity: 1;
        background-color:  rgb(16, 25, 95)!important;
    }
      .navbar-dark {
        --bs-navbar-color: rgb(255, 255, 255);
        --bs-navbar-hover-color: rgba(255, 221, 0, 0.75);
        --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
        --bs-navbar-active-color: #fff;
        --bs-navbar-brand-color: #fff;
        --bs-navbar-brand-hover-color: #fff;
        --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
        --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
    }
    .bg_color{
      background-color:  #506991!important;
    }
    .bg_1{
      background-color: red;
    }
    .headline{
      color: white !important;
      text-decoration: none;
    }
    .article{
      color: black;
      text-decoration: none;
      
    }
    .col-bdr{
      border-top: 5px solid red !important;
    }
    .bg-info {
      background-color: rgb(245, 245, 245) !important;
    }
    .copy
